Repository allthingslinux/portal: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched",
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.{json,jsonc,md}": ["biome format --write --no-errors-on-unmatched"]
}

feat(config): add commitlint configuration for standardized commit messages
  .commitlintrc.json
Due: biome format --write --no-errors-on-unmatched

feat(docker): add .dockerignore file to exclude unnecessary files from Docker context
  .dockerignore
Due: none

feat(types): centralize types and constants organization for improved structure
  AGENTS.md
  src/components/admin/session-management.tsx
  src/components/admin/user-management.tsx
  src/components/layout/header/breadcrumb-trail.tsx
  src/hooks/use-admin-suspense.ts
  src/hooks/use-admin.ts
  src/hooks/use-api-keys.ts
  src/hooks/use-integration.ts
  src/hooks/use-oauth-clients.ts
  src/hooks/use-sessions.ts
  src/hooks/use-user-suspense.ts
  src/hooks/use-user.ts
  src/lib/api/query-client.ts
  src/lib/api/types.ts
  src/lib/api/utils.ts
  src/lib/auth/dal.ts
  src/lib/db/schema/api-keys.ts
  src/lib/email/index.ts
  src/lib/integrations/core/constants.ts
  src/lib/integrations/core/types.ts
  src/lib/routes/breadcrumbs.ts
  src/lib/routes/permissions.ts
  src/lib/routes/types.ts
  src/lib/utils/constants.ts
  src/lib/utils/email.ts
  src/types/api.ts
  src/types/auth.ts
  src/types/email.ts
  src/types/index.ts
  src/types/routes.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(workflow): update deployment environment handling in GitHub Actions
  .github/workflows/deploy.yml
Due: none

chore: resync lockfile
  .gitignore
  pnpm-lock.yaml
Due: none

refactor(vitest): remove coverage thresholds from configuration
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(api): standardize parameter extraction for route handlers
  src/app/api/admin/api-keys/[id]/route.ts
  src/app/api/admin/oauth-clients/[id]/route.ts
  src/app/api/admin/sessions/[id]/route.ts
  src/app/api/admin/users/[id]/route.ts
  src/app/api/integrations/[integration]/accounts/[id]/route.ts
  src/app/api/integrations/[integration]/accounts/route.ts
  src/lib/db/client.ts
  src/lib/db/keys.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(workflow): remove security workflow from GitHub Actions
  .github/workflows/security.yml
Due: none

chore(package): update build script to include type generation step
  package.json
Due: biome format --write --no-errors-on-unmatched

chore(workflow): update ignore patterns in maintenance workflow
  .github/workflows/maintenance.yml
Due: none

chore(routes): enable dynamic rendering for OAuth routes to prevent database access during build
  src/app/.well-known/oauth-authorization-server/route.ts
  src/app/.well-known/oauth-protected-resource/route.ts
  src/app/.well-known/openid-configuration/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(workflow): enhance Docker build and deployment configuration in GitHub Actions
  .github/workflows/deploy.yml
Due: none

refactor(providers): remove TypeScript error suppression for navigation functions
  src/app/providers.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(workflow): add Next.js type generation step to CI workflow
  .github/workflows/ci.yml
Due: none

chore(providers): enforce type safety for navigation functions by casting href to Route type
  src/app/providers.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(routes): wrap OAuth route handlers in async functions for improved execution control
  src/app/.well-known/oauth-authorization-server/route.ts
  src/app/.well-known/openid-configuration/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(scripts): update import paths to shared directory for database and auth modules
  scripts/create-admin.ts
  scripts/create-prosody-oauth-client.ts
  scripts/seed.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(tests): update import paths to features and shared directories for consistency
  tests/app/api/user/me/route.test.ts
  tests/hooks/use-permissions.test.ts
  tests/lib/api/utils.test.ts
  tests/lib/integrations/core/factory.test.ts
  tests/lib/integrations/core/registry.test.ts
  tests/lib/utils/email.test.ts
  tests/lib/utils/utils.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(types): remove deprecated type definitions for API, auth, common, email, and routes
  src/types/api.ts
  src/types/auth.ts
  src/types/common.ts
  src/types/email.ts
  src/types/index.ts
  src/types/routes.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(imports): update import paths to shared and features directories
  src/app/(dashboard)/app/(overview)/page.tsx
  src/app/(dashboard)/app/admin/page.tsx
  src/app/(dashboard)/app/integrations/integrations-content.tsx
  src/app/(dashboard)/app/integrations/page.tsx
  src/app/(dashboard)/app/layout.tsx
  src/app/(dashboard)/app/settings/page.tsx
  src/app/.well-known/oauth-authorization-server/route.ts
  src/app/.well-known/oauth-protected-resource/route.ts
  src/app/.well-known/openid-configuration/route.ts
  src/app/api/admin/api-keys/[id]/route.ts
  src/app/api/admin/api-keys/route.ts
  src/app/api/admin/oauth-clients/[id]/route.ts
  src/app/api/admin/oauth-clients/route.ts
  src/app/api/admin/sessions/[id]/route.ts
  src/app/api/admin/sessions/route.ts
  src/app/api/admin/stats/route.ts
  src/app/api/admin/users/[id]/route.ts
  src/app/api/admin/users/route.ts
  src/app/api/auth/[...all]/route.ts
  src/app/api/integrations/[integration]/accounts/[id]/route.ts
  src/app/api/integrations/[integration]/accounts/route.ts
  src/app/api/integrations/route.ts
  src/app/api/monitoring/route.ts
  src/app/api/user/me/route.ts
  src/app/api/user/sessions/route.ts
  src/app/auth/[path]/page.tsx
  src/app/layout.tsx
  src/app/metadata.ts
  src/app/page.tsx
  src/app/providers.tsx
  src/app/robots.ts
  src/app/sitemap.ts
  src/app/web-vitals.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(hooks): reorganize and consolidate admin-related hooks
  src/hooks/index.ts
  src/hooks/use-admin-actions.ts
  src/hooks/use-admin-suspense.ts
  src/hooks/use-admin.ts
  src/hooks/use-api-keys.ts
  src/hooks/use-integration.ts
  src/hooks/use-oauth-clients.ts
  src/hooks/use-permissions.ts
  src/hooks/use-sessions.ts
  src/hooks/use-translated-routes.ts
  src/hooks/use-user-suspense.ts
  src/hooks/use-user.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(imports): update observability and auth import paths to shared and features directories
  src/env.ts
  src/instrumentation.ts
  src/proxy.ts
  src/sentry.edge.config.ts
  src/sentry.server.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(paths): update import paths and exclude patterns for better organization
  biome.jsonc
  components.json
  next.config.ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(logging): implement wide events pattern for structured logging
  docs/LOGGING.md
  src/app/api/user/me/route.ts
  src/app/web-vitals.ts
  src/components/layout/sidebar/sidebar-user-section.tsx
  src/features/auth/lib/auth/session-context.tsx
  src/shared/observability/index.ts
  src/shared/observability/utils.ts
  src/shared/observability/wide-events.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(session): update session verification and user data fetching
  src/app/(dashboard)/app/(overview)/page.tsx
  src/app/(dashboard)/app/integrations/integrations-content.tsx
  src/app/(dashboard)/app/settings/page.tsx
  src/features/integrations/components/integrations/integration-management.tsx
  src/shared/api/server-queries.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(auth): update secure cookie configuration and trusted origins
  src/features/auth/lib/auth/config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(paths): update import paths to use new directory structure
  AGENTS.md
  components.json
  docs/PATH_ALIASES.md
  scripts/create-admin.ts
  scripts/create-prosody-oauth-client.ts
  scripts/seed.ts
  src/app/.well-known/oauth-protected-resource/route.ts
  src/app/api/admin/api-keys/[id]/route.ts
  src/app/api/admin/api-keys/route.ts
  src/app/api/admin/oauth-clients/[id]/route.ts
  src/app/api/admin/oauth-clients/route.ts
  src/app/api/admin/sessions/[id]/route.ts
  src/app/api/admin/sessions/route.ts
  src/app/api/admin/stats/route.ts
  src/app/api/admin/users/[id]/route.ts
  src/app/api/admin/users/route.ts
  src/app/api/user/me/route.ts
  src/app/api/user/sessions/route.ts
  src/env.ts
  src/features/auth/lib/check-role.ts
  src/features/auth/lib/config.ts
  src/features/auth/lib/dal.ts
  src/features/integrations/lib/xmpp/implementation.ts
  src/shared/api/server-queries.ts
  src/shared/api/types.ts
  src/shared/config/index.ts
  src/shared/db/index.ts
  src/shared/seo/metadata.ts
  src/shared/seo/robots.ts
  src/shared/seo/sitemap.ts
  tests/app/api/user/me/route.test.ts
  tests/lib/api/utils.test.ts
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update Docker Compose configurations and add cursorignore file
  .cursorignore
  .github/scripts/deploy.sh
  .github/scripts/migrate.sh
  .github/scripts/rollback.sh
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/maintenance.yml
  .github/workflows/migrate.yml
  .github/workflows/rollback.yml
  AGENTS.md
  compose.production.yaml
  compose.staging.yaml
  compose.yaml
  docs/DEPLOYMENT.md
  package.json
  src/shared/db/client.ts
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: add contributing guidelines and Renovate configuration
  .github/CONTRIBUTING.md
  .github/renovate.json5
Due: biome format --write --no-errors-on-unmatched

refactor(config): update import paths for Docker compatibility and enhance server external package handling
  next.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs(vitest): add comprehensive testing best practices and changelog
  .cursor/skills/vitest/AGENTS.md
  .cursor/skills/vitest/CHANGELOG.md
  .cursor/skills/vitest/SKILL.md
  src/app/api/user/me/route.ts
  tests/app/api/user/me/route.test.ts
  tests/hooks/use-permissions.test.ts
  tests/lib/api/utils.test.ts
  tests/lib/utils/email.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

doc(testing): add frontend testing skill and templates for components, hooks, and utilities
  .cursor/skills/frontend-testing/SKILL.md
  .cursor/skills/frontend-testing/assets/component-test.template.tsx
  .cursor/skills/frontend-testing/assets/hook-test.template.ts
  .cursor/skills/frontend-testing/assets/utility-test.template.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(tsconfig): set baseUrl for module resolution
  tsconfig.json
Due: biome format --write --no-errors-on-unmatched

chore(tsconfig): enhance TypeScript configuration with path aliases and updated options
  docs/TSCONFIG.md
  tsconfig.json
Due: biome format --write --no-errors-on-unmatched
