Repository allthingslinux/portal: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(renovate): add critical package group for minor/patch updates
  .github/renovate.json5
Due: none

chore(renovate): update label for GitHub Actions dependency management
  .github/renovate.json5
Due: none

chore(renovate): add support for mise-en-place tool version management
  .github/renovate.json5
Due: none

refactor(tests): reorganize import statements for consistency
  tests/hooks/use-permissions.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(db): improve formatting of connection string placeholder
  src/shared/db/client.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update component aliases and adjust package versions
  components.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(ui): update resizable component structure and improve accessibility
  src/components/ui/resizable.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(docker): update .dockerignore to retain tsconfig.json for Next.js compatibility
  .dockerignore
Due: none

chore(release): integrate semantic-release for automated versioning
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  c31f13f6aef9fee1a667e8758d320bc9355672fb
Due: none

docs: enhance README with updated environment setup, command descriptions, and project structure
  README.md
Due: biome format --write --no-errors-on-unmatched

refactor(db): update schema file paths in configuration
  src/shared/db/config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(db): update PostgreSQL volume mount path in Docker Compose configuration
  compose.yaml
Due: none

refactor(db): update database schema and configuration paths
  package.json
Due: biome format --write --no-errors-on-unmatched

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  5b053fdbd29053764fea1dedbac159550c745213
Due: none

feat(auth): implement script-only auth and db modules for admin user creation
  package.json
  pnpm-lock.yaml
  scripts/create-admin.ts
  scripts/lib/auth-for-script.ts
  scripts/lib/db.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  0978219694c05484d46dd05d3abb160487548f77
Due: none

chore(auth): correct import order in script files
  scripts/create-admin.ts
  scripts/lib/auth-for-script.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(auth): update avatar handling in AuthUIProviderTanstack
  src/app/providers.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(command-menu): prevent hydration mismatch by deferring dialog rendering
  src/components/command-menu.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: update API and architecture documentation for route parameters and integration framework
  docs/API.md
  docs/ARCHITECTURE.md
  docs/CI_CD.md
  docs/COMPONENTS.md
  docs/INTEGRATIONS.md
  docs/README.md
  docs/TESTING.md
  docs/TSCONFIG.md
Due: biome format --write --no-errors-on-unmatched

chore(locale): add 'Back to dashboard' message in error.json
  locale/en/error.json
Due: biome format --write --no-errors-on-unmatched

feat(api): add route ID validation and parsing utility
  src/shared/api/utils.ts
  src/shared/db/client.ts
  src/shared/next-config/with-observability.ts
  src/shared/observability/edge.ts
  src/shared/observability/server.ts
  src/shared/seo/index.ts
  src/shared/seo/metadata.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(instrumentation): optimize Sentry integration for production
  src/instrumentation.ts
  src/sentry.server.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(proxy): enhance comments for session validation and update route matcher
  src/proxy.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(config): enable component caching and enhance security features
  next.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(routes): update comments for dynamic rendering behavior
  src/app/.well-known/oauth-authorization-server/route.ts
  src/app/.well-known/oauth-protected-resource/route.ts
  src/app/.well-known/openid-configuration/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(error): implement lazy-loaded error boundary component
  src/app/error-content.tsx
  src/app/error.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(providers): implement lazy-loaded Sentry initialization and refactor Providers component
  src/app/providers.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(page): establish connection in metadata generation and page rendering
  src/app/page.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(not-found): establish connection in NotFound component
  src/app/not-found.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(loading): add loading UI component for root segment
  src/app/loading.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(layout): implement Suspense for loading state and establish connection in RootLayout
  src/app/layout.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(auth): simplify metadata generation and implement Suspense for authentication views
  src/app/auth/[path]/page.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(routes): update comments and improve route ID parsing
  src/app/api/admin/api-keys/[id]/route.ts
  src/app/api/admin/api-keys/route.ts
  src/app/api/admin/oauth-clients/[id]/route.ts
  src/app/api/admin/oauth-clients/route.ts
  src/app/api/admin/sessions/[id]/route.ts
  src/app/api/admin/sessions/route.ts
  src/app/api/admin/stats/route.ts
  src/app/api/admin/users/[id]/route.ts
  src/app/api/admin/users/route.ts
  src/app/api/auth/[...all]/route.ts
  src/app/api/integrations/[integration]/accounts/[id]/route.ts
  src/app/api/integrations/[integration]/accounts/route.ts
  src/app/api/integrations/route.ts
  src/app/api/monitoring/route.ts
  src/app/api/user/me/route.ts
  src/app/api/user/sessions/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(error): create dedicated AppError component and lazy-load error boundary
  src/app/(dashboard)/app/(overview)/page.tsx
  src/app/(dashboard)/app/admin/page.tsx
  src/app/(dashboard)/app/app-error.tsx
  src/app/(dashboard)/app/error.tsx
  src/app/(dashboard)/app/integrations/page.tsx
  src/app/(dashboard)/app/layout.tsx
  src/app/(dashboard)/app/loading.tsx
  src/app/(dashboard)/app/not-found.tsx
  src/app/(dashboard)/app/settings/page.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched: (any of: *.{ts,tsx}) or (any of: *.{json,jsonc,md})
