Repository allthingslinux/portal: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(changelog): add unified changelog specification and design documentation
  .kiro/specs/unified-changelog/.config.kiro
  .kiro/specs/unified-changelog/design.md
  .kiro/specs/unified-changelog/requirements.md
  .kiro/specs/unified-changelog/tasks.md
Due: biome format --write --no-errors-on-unmatched

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  apps/portal/package.json
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  b14fb74971b4a2f0358cf6bafe281bc102a84e27
Due: none

docs(agents): sync AGENTS.md files with current codebase
  AGENTS.md
  apps/portal/src/features/admin/AGENTS.md
  apps/portal/src/features/auth/AGENTS.md
  apps/portal/src/features/user/AGENTS.md
Due: biome format --write --no-errors-on-unmatched

feat(api): enhance identity route to include user avatar and improve data fetching
  apps/portal/src/app/api/bridge/identity/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(api): add health check endpoint for application status
  apps/portal/src/app/api/health/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(auth): integrate useListApiKeys hook and improve LinkWrapper component formatting
  apps/portal/src/app/providers.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(auth): normalize Better Auth 1.5 API key list response for ApiKeysCard
  apps/portal/src/features/auth/lib/auth-hooks.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

test(bridge): update identity route tests
  apps/portal/src/features/integrations/lib/irc/unreal/client.ts
  apps/portal/tests/app/api/bridge/identity/route.test.ts
  apps/portal/tests/lib/integrations/irc/unreal/client.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: update README
  README.md
  docs/IRC.md
Due: biome format --write --no-errors-on-unmatched

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  apps/portal/package.json
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  efcc046cb196e393d8dd898dab776cd1e30f4402
Due: none

refactor: clean up code formatting and improve readability in user session and management components
  apps/portal/src/app/api/user/sessions/route.ts
  apps/portal/src/features/admin/components/user-columns.tsx
  apps/portal/src/features/admin/components/user-management.tsx
  apps/portal/src/features/admin/hooks/use-admin-actions.ts
  apps/portal/src/features/auth/lib/config.ts
  apps/portal/src/features/auth/lib/permissions.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(admin): add user action dropdown with ban/unban functionality and alert dialog for confirmation
  apps/portal/src/features/admin/components/user-columns.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(user-columns): improve code formatting and readability in user actions component
  apps/portal/src/features/admin/components/user-columns.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(admin): seperate admin user management
  .commitlintrc.json
  apps/portal/locale/en/routes.json
  apps/portal/src/app/(dashboard)/app/admin/layout.tsx
  apps/portal/src/app/(dashboard)/app/admin/page.tsx
  apps/portal/src/app/(dashboard)/app/admin/sessions/page.tsx
  apps/portal/src/app/(dashboard)/app/admin/users/page.tsx
  apps/portal/src/app/api/admin/users/[id]/route.ts
  apps/portal/src/app/api/admin/users/route.ts
  apps/portal/src/features/admin/api/admin.ts
  apps/portal/src/features/admin/components/admin-dashboard-overview.tsx
  apps/portal/src/features/admin/components/admin-dashboard.tsx
  apps/portal/src/features/admin/components/unified-user-columns.tsx
  apps/portal/src/features/admin/components/unified-user-management.tsx
  apps/portal/src/features/admin/components/user-detail-sheet.tsx
  apps/portal/src/features/routing/lib/config.ts
  apps/portal/src/features/routing/lib/ui.ts
  packages/api/src/server-queries.ts
  packages/api/src/types.ts
  packages/schemas/src/user.ts
  packages/types/src/api.ts
  packages/ui/src/layout/navigation/nav-collapsible.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(admin): enhance user management and settings navigation
  .vscode/settings.json
  apps/portal/locale/en/routes.json
  apps/portal/src/features/admin/components/data-table.tsx
  apps/portal/src/features/admin/components/session-management.tsx
  apps/portal/src/features/admin/components/unified-user-management.tsx
  apps/portal/src/features/admin/components/user-management.tsx
  apps/portal/src/features/routing/lib/config.ts
  packages/ui/src/layout/navigation/nav-collapsible.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(auth): update two-factor authentication redirect and OTP email settings
  apps/portal/src/features/auth/lib/client.ts
  apps/portal/src/features/auth/lib/config.ts
  apps/portal/src/features/auth/lib/email.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(auth): simplify passkey configuration and improve comments
  apps/portal/src/features/auth/lib/config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update .cursorignore
  .cursorignore
Due: none

docs(agents): update AGENTS.md
  AGENTS.md
Due: biome format --write --no-errors-on-unmatched

docs(readme): update README.md
  README.md
Due: biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/app/(dashboard)/app/integrations/integrations-content.tsx
  apps/portal/src/app/(dashboard)/app/integrations/integrations-content.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/app/(dashboard)/app/settings/settings-content.tsx
  apps/portal/src/app/(dashboard)/app/settings/settings-content.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(api): update apps/portal/src/app/api/admin/users/route.ts
  apps/portal/src/app/api/admin/users/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(api): update apps/portal/src/app/api/bridge/identity/route.ts
  apps/portal/src/app/api/bridge/identity/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(api): update apps/portal/src/app/api/user/me/route.ts
  apps/portal/src/app/api/user/me/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/app/providers.tsx
  apps/portal/src/app/providers.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/env.ts
  apps/portal/src/env.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/features/admin/components/session-management.tsx
  apps/portal/src/features/admin/components/session-management.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs(agents): update apps/portal/src/features/auth/AGENTS.md
  apps/portal/src/features/auth/AGENTS.md
Due: biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/features/auth/lib/client.ts
  apps/portal/src/features/auth/lib/client.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/features/auth/lib/config.ts
  apps/portal/src/features/auth/lib/config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/features/auth/lib/dal.ts
  apps/portal/src/features/auth/lib/dal.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/features/auth/lib/keys.ts
  apps/portal/src/features/auth/lib/keys.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs(agents): update apps/portal/src/features/integrations/AGENTS.md
  apps/portal/src/features/integrations/AGENTS.md
Due: biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/features/integrations/lib/irc/implementation.ts
  apps/portal/src/features/integrations/lib/irc/implementation.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/features/integrations/lib/xmpp/config.ts
  apps/portal/src/features/integrations/lib/xmpp/config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update apps/portal/src/features/integrations/lib/xmpp/implementation.ts
  apps/portal/src/features/integrations/lib/xmpp/implementation.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs(agents): update apps/portal/src/features/routing/AGENTS.md
  apps/portal/src/features/routing/AGENTS.md
Due: biome format --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched: (any of: *.{ts,tsx}) or (any of: *.{json,jsonc,md})
