Repository allthingslinux/portal: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched",
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.{json,jsonc,md}": ["biome format --write --no-errors-on-unmatched"]
}

chore: remove unused biome-ignore suppression comments
  src/app/(dashboard)/app/integrations/integrations-content.tsx
  src/app/metadata.ts
  src/features/admin/api/index.ts
  src/features/auth/lib/config.ts
  src/features/integrations/api/index.ts
  src/features/integrations/components/integration-management.tsx
  src/features/integrations/lib/irc/implementation.ts
  src/features/integrations/lib/irc/unreal/client.ts
  src/features/user/api/index.ts
  src/shared/api/index.ts
  src/shared/types/api.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(integrations): add UI validation guard to prevent empty payload
  src/features/integrations/components/integration-management.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(base.ts): add support for schema validation using zod
  src/features/integrations/lib/core/base.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(xmpp.ts): use brandedString for XmppUsernameSchema to enhance type safety
  src/shared/schemas/integrations/xmpp.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor: address PR review findings (docs, UI, logic, and performance)
  docs/API.md
  docs/INTEGRATIONS.md
  docs/ZOD.md
  src/app/(dashboard)/app/integrations/integrations-content.tsx
  src/app/api/admin/users/route.ts
  src/app/api/integrations/[integration]/accounts/route.ts
  src/features/integrations/components/integration-management.tsx
  src/features/integrations/lib/xmpp/implementation.ts
  src/shared/api/utils.ts
  src/shared/schemas/user.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

test: fix user/me route test regression
  tests/app/api/user/me/route.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix: handle invalid JSON request body with a 400 API error.
  src/app/api/integrations/[integration]/accounts/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(schemas): centralize user and admin validation schemas
  src/shared/schemas/index.ts
  src/shared/schemas/user.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(integrations): implement type-safe forms and schema-backed routing
  src/app/(dashboard)/app/integrations/integrations-content.tsx
  src/app/api/integrations/[integration]/accounts/route.ts
  src/features/integrations/components/integration-management.tsx
  src/features/integrations/lib/irc/implementation.ts
  src/features/integrations/lib/xmpp/implementation.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Introduce new `react-hook-form-zod` and `zod` skills with various form templates and update integration schemas and documentation."
  .cursor/skills/designing-zod-schemas/SKILL.md
  .cursor/skills/react-hook-form-zod/.claude-plugin/plugin.json
  .cursor/skills/react-hook-form-zod/SKILL.md
  .cursor/skills/react-hook-form-zod/rules/react-hook-form-zod.md
  .cursor/skills/react-hook-form-zod/scripts/check-versions.sh
  .cursor/skills/react-hook-form-zod/templates/advanced-form.tsx
  .cursor/skills/react-hook-form-zod/templates/async-validation.tsx
  .cursor/skills/react-hook-form-zod/templates/basic-form.tsx
  .cursor/skills/react-hook-form-zod/templates/custom-error-display.tsx
  .cursor/skills/react-hook-form-zod/templates/dynamic-fields.tsx
  .cursor/skills/react-hook-form-zod/templates/multi-step-form.tsx
  .cursor/skills/react-hook-form-zod/templates/package.json
  .cursor/skills/react-hook-form-zod/templates/server-validation.ts
  .cursor/skills/react-hook-form-zod/templates/shadcn-form.tsx
  .cursor/skills/zod/AGENTS.md
  .cursor/skills/zod/SKILL.md
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(xmpp): add CreateXmppAccountRequestSchema to XmppIntegration
  src/features/integrations/lib/xmpp/implementation.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(route.ts): improve request body validation with integration-specific schemas
  src/app/api/integrations/[integration]/accounts/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: update zod patterns and API standards
  docs/API.md
  docs/INTEGRATIONS.md
  docs/ZOD.md
Due: biome format --write --no-errors-on-unmatched

refactor: standardize Zod usage with drizzle-zod and centralized schemas
  biome.jsonc
  package.json
  pnpm-lock.yaml
  src/features/integrations/lib/irc/implementation.ts
  src/features/integrations/lib/irc/types.ts
  src/features/integrations/lib/xmpp/implementation.ts
  src/features/integrations/lib/xmpp/types.ts
  src/shared/db/schema/irc.ts
  src/shared/db/schema/xmpp.ts
  src/shared/schemas/index.ts
  src/shared/schemas/integrations/index.ts
  src/shared/schemas/integrations/irc.ts
  src/shared/schemas/integrations/xmpp.ts
  src/shared/schemas/utils.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: add comprehensive Zod schema standards documentation
  docs/ZOD.md
Due: biome format --write --no-errors-on-unmatched

fix(deps): align drizzle-zod version with drizzle-orm beta
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

feat(irc): add account schema validation for IRC integration
  src/features/integrations/lib/irc/implementation.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  8ae9e79ab7bb50617e1c4cb2c1b6acfa76d8f4e6
Due: none

chore(release): 1.4.1 [skip ci]
  CHANGELOG.md
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  d917e6fe4a52dc8b1f7511f24f4f6cb2207d1f87
Due: none

chore(release): 1.4.2 [skip ci]
  CHANGELOG.md
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  7217ecc665900cd0ef7b4bb696c5ca0f669c420a
Due: none

refactor: delete custom error boundary component and update error content display.
  package.json
  pnpm-lock.yaml
  src/app/error-content.tsx
  src/app/providers.tsx
  src/components/error-boundary.tsx
  src/features/integrations/components/integration-management.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat: Pass `BETTER_AUTH_SECRET`, `BETTER_AUTH_URL`, and `GIT_COMMIT_SHA` as build arguments to the Docker image and configure the workflow environment.
  .github/workflows/deploy.yml
  Containerfile
Due: none

feat(auth): enable Discord OAuth and add bridge identity endpoint
  package.json
  pnpm-lock.yaml
  src/app/api/bridge/identity/route.ts
  src/features/auth/lib/config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  4282fa1ec479197d347bec577993c2cab5711fc2
Due: none

fix(bridge/identity): snake_case response fields, add discord_id to IRC/XMPP lookups
  src/app/api/bridge/identity/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(release): 1.5.1 [skip ci]
  CHANGELOG.md
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  f9867b6d4b4bd8996033ef1fc3f1f394252b5d2e
Due: none

fix: address react-doctor lint warnings
  src/app/(dashboard)/app/app-error.tsx
  src/app/api/admin/users/[id]/route.ts
  src/app/error-content.tsx
  src/components/ui/field.tsx
  src/components/ui/slider.tsx
  src/features/admin/components/user-detail-sheet.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: add AGENTS.md coverage across portal codebase
  .agents/code-standards.md
  .agents/skills.md
  AGENTS.md
  src/features/admin/AGENTS.md
  src/features/auth/AGENTS.md
  src/features/integrations/AGENTS.md
  src/features/routing/AGENTS.md
  src/features/user/AGENTS.md
  src/shared/api/AGENTS.md
  src/shared/db/AGENTS.md
  src/shared/observability/AGENTS.md
  src/shared/schemas/AGENTS.md
Due: biome format --write --no-errors-on-unmatched

docs(routing): trim proxy.ts note in AGENTS.md
  src/features/routing/AGENTS.md
Due: biome format --write --no-errors-on-unmatched

fix(db): cache pool on globalThis to prevent connection exhaustion during HMR
  src/shared/db/client.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(auth): silence BetterAuth oauthAuthServerConfig startup warning
  src/features/auth/lib/config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): expand Atheme JSON-RPC client with oper commands
  src/features/integrations/lib/irc/atheme/client.ts
  src/features/integrations/lib/irc/config.ts
  src/features/integrations/lib/irc/implementation.ts
  src/features/integrations/lib/irc/keys.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): expand UnrealIRCd JSON-RPC client with full API surface
  src/features/integrations/lib/irc/unreal/client.ts
  src/features/integrations/lib/irc/unreal/types.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(xmpp): migrate Prosody client to mod_http_admin_api
  src/features/integrations/lib/xmpp/client.ts
  src/features/integrations/lib/xmpp/config.ts
  src/features/integrations/lib/xmpp/implementation.ts
  src/features/integrations/lib/xmpp/keys.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(discord): add Discord REST client, env keys, and stats card
  src/env.ts
  src/features/integrations/components/discord-stats-card.tsx
  src/features/integrations/lib/discord/client.ts
  src/features/integrations/lib/discord/keys.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched
