Repository allthingslinux/portal: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

style(mailcow): capitalize integration name for consistency
  src/features/integrations/lib/mailcow/implementation.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(mailcow): enhance mail integration with alias and app password management
  src/app/(dashboard)/app/integrations/mailcow-account-details.tsx
  src/app/(dashboard)/app/integrations/mailcow-aliases.tsx
  src/app/(dashboard)/app/integrations/mailcow-app-passwords.tsx
  src/app/(dashboard)/app/integrations/mailcow-create-form.tsx
  src/app/(dashboard)/app/integrations/mailcow-quota.tsx
  src/app/(dashboard)/app/mail/mail-content.tsx
  src/app/api/integrations/[integration]/accounts/route.ts
  src/features/integrations/lib/mailcow/actions.ts
  src/features/integrations/lib/mailcow/client.ts
  src/features/integrations/lib/mailcow/implementation.ts
  src/features/integrations/lib/mailcow/types.ts
  src/shared/schemas/integrations/mailcow.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(feed): add new feed page for Linux and open-source news
  locale/en/routes.json
  src/app/(dashboard)/app/feed/feed-content.tsx
  src/app/(dashboard)/app/feed/page.tsx
  src/features/routing/lib/config.ts
  src/shared/config/feed.ts
  src/shared/config/index.ts
  src/shared/feed/index.ts
  src/shared/utils/format.ts
  src/shared/utils/index.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

test: add mocks for Mailcow, XMPP, DB, and Auth key providers to various integration tests
  tests/app/api/admin/irc-accounts/route.test.ts
  tests/app/api/bridge/identity/route.test.ts
  tests/lib/integrations/irc/atheme-failure-rollback.test.ts
  tests/lib/integrations/irc/implementation.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  8c3a35e208d0b8686b75f3988407b2394114c12a
Due: none

fix(db): add better-auth v1.5 api-key schema migration
  packages/db/drizzle/20260303194912_sparkling_meteorite/migration.sql
  packages/db/drizzle/20260303194912_sparkling_meteorite/snapshot.json
Due: biome format --write --no-errors-on-unmatched

chore: update gitignore for monorepo workspaces
  .gitignore
Due: none

docs: update documentation for monorepo and better-auth v1.5
  AGENTS.md
  README.md
  docs/README.md
Due: biome format --write --no-errors-on-unmatched

build(ui): add shadcn components.json for monorepo support
  packages/ui/components.json
Due: biome format --write --no-errors-on-unmatched

docs(specs): add turborepo migration design and requirements documentation
  .kiro/specs/turborepo-migration/.config.kiro
  .kiro/specs/turborepo-migration/design.md
  .kiro/specs/turborepo-migration/requirements.md
  .kiro/specs/turborepo-migration/tasks.md
Due: biome format --write --no-errors-on-unmatched

fix(ci): add test:coverage task to turbo.json
  turbo.json
Due: biome format --write --no-errors-on-unmatched

fix(docker): set PNPM_HOME for global turbo install in pruner stage
  Containerfile
Due: none

Notes added by 'git notes add'
  fe9fa032eb108c6ede641cd05797d7508296e813
Due: none

Notes added by 'git notes add'
  a1b6b42e775ba38c5a14e28145d22ac9e6e50a5d
Due: none

fix(release): move .releaserc.json to apps/portal/ and backfill v2.0.0 changelog
  CHANGELOG.md
  apps/portal/.releaserc.json
Due: biome format --write --no-errors-on-unmatched

chore(release): 2.0.1 [skip ci]
  apps/portal/package.json
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  e60c0f1677ad0ac3d9921f6c57415042aebf72dd
Due: none

fix(release): run semantic-release from repo root
  .releaserc.json
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

chore(release): 2.0.2 [skip ci]
  CHANGELOG.md
  apps/portal/package.json
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  9556fef298e94aa6eccde097c761f5192ffd9133
Due: none

docs(changelog): add missing v2.0.1 entry and fix v2.0.2 header level
  CHANGELOG.md
Due: biome format --write --no-errors-on-unmatched

chore(deps): remove redundant semantic-release deps from apps/portal
  apps/portal/package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

chore(deps): update dependencies
  apps/portal/package.json
  package.json
  packages/api/package.json
  packages/db/package.json
  packages/observability/package.json
  packages/schemas/package.json
  packages/seo/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

refactor: misc UI and code improvements
  apps/portal/src/app/(dashboard)/app/feed/feed-content.tsx
  apps/portal/src/app/(dashboard)/app/integrations/irc-password-dialog.tsx
  apps/portal/src/app/(dashboard)/app/integrations/mailcow-create-form.tsx
  apps/portal/src/app/(dashboard)/app/layout.tsx
  apps/portal/src/app/web-vitals.ts
  apps/portal/src/features/admin/components/data-table.tsx
  apps/portal/src/features/admin/components/user-columns.tsx
  apps/portal/src/features/admin/components/user-detail-sheet.tsx
  apps/portal/src/features/auth/lib/session-context.tsx
  apps/portal/src/features/integrations/api/integrations.ts
  apps/portal/src/features/integrations/components/reset-password-dialog.tsx
  apps/portal/src/features/integrations/lib/core/base.ts
  apps/portal/src/features/integrations/lib/core/types.ts
  apps/portal/src/features/integrations/lib/irc/atheme/client.ts
  apps/portal/src/features/integrations/lib/irc/implementation.ts
  apps/portal/src/features/integrations/lib/irc/unreal/types.ts
  apps/portal/src/features/integrations/lib/mailcow/implementation.ts
  apps/portal/src/features/integrations/lib/mailcow/types.ts
  apps/portal/src/features/integrations/lib/xmpp/client.ts
  apps/portal/src/features/integrations/lib/xmpp/types.ts
  apps/portal/src/shared/config/community.ts
  apps/portal/src/shared/config/donate.ts
  apps/portal/src/shared/config/feed.ts
  apps/portal/src/shared/feed/index.ts
  apps/portal/src/styles/globals.css
  packages/observability/src/client.ts
  packages/observability/src/helpers.ts
  packages/observability/src/wide-events.ts
  packages/types/src/auth.ts
  packages/types/src/common.ts
  packages/types/src/email.ts
  packages/types/src/routes.ts
  packages/ui/src/layout/app-layout.tsx
  packages/ui/src/layout/navigation/nav-collapsible.tsx
  packages/ui/src/layout/navigation/nav-item.tsx
  packages/ui/src/layout/page/page-header.tsx
  packages/ui/src/layout/sidebar/sidebar-brand.tsx
  packages/ui/src/layout/sidebar/sidebar-container.tsx
  packages/ui/src/layout/sidebar/sidebar-user-section.tsx
  packages/ui/src/ui/sidebar.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: add mediawiki integration spec
  .kiro/specs/mediawiki-integration/.config.kiro
  .kiro/specs/mediawiki-integration/design.md
  .kiro/specs/mediawiki-integration/requirements.md
  .kiro/specs/mediawiki-integration/tasks.md
Due: biome format --write --no-errors-on-unmatched

feat(db): add mediawiki_account schema and migration
  packages/db/drizzle/20260307213143_redundant_rage/migration.sql
  packages/db/drizzle/20260307213143_redundant_rage/snapshot.json
  packages/db/src/schema/index.ts
  packages/db/src/schema/mediawiki.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(schemas): add mediawiki validation schemas
  packages/schemas/src/integrations/mediawiki.ts
  packages/schemas/src/integrations/validation.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(integrations): add mediawiki bot client and integration
  apps/portal/src/features/integrations/lib/index.ts
  apps/portal/src/features/integrations/lib/mediawiki/bot-client.ts
  apps/portal/src/features/integrations/lib/mediawiki/client.ts
  apps/portal/src/features/integrations/lib/mediawiki/implementation.ts
  apps/portal/src/features/integrations/lib/mediawiki/index.ts
  apps/portal/src/features/integrations/lib/mediawiki/keys.ts
  apps/portal/src/features/integrations/lib/mediawiki/types.ts
  apps/portal/src/shared/wiki/index.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(api): add mediawiki admin and user-stats API routes
  apps/portal/src/app/api/admin/mediawiki-accounts/[id]/route.ts
  apps/portal/src/app/api/admin/mediawiki-accounts/route.ts
  apps/portal/src/app/api/integrations/mediawiki/user-stats/route.ts
  apps/portal/src/features/admin/api/admin.ts
  apps/portal/src/features/admin/hooks/use-admin.ts
  packages/api/src/query-keys.ts
  packages/api/src/types.ts
  packages/api/tsconfig.json
  packages/types/src/api.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(ui): add mediawiki user and admin UI components
  apps/portal/src/app/(dashboard)/app/(overview)/page.tsx
  apps/portal/src/app/(dashboard)/app/integrations/integrations-content.tsx
  apps/portal/src/app/(dashboard)/app/integrations/mediawiki-account-details.tsx
  apps/portal/src/app/(dashboard)/app/integrations/mediawiki-password-dialog.tsx
  apps/portal/src/app/(dashboard)/app/integrations/mediawiki-reset-password.tsx
  apps/portal/src/features/admin/components/admin-dashboard.tsx
  apps/portal/src/features/admin/components/mediawiki-accounts-management.tsx
  apps/portal/src/features/integrations/components/integration-management.tsx
  apps/portal/src/features/integrations/components/wiki-user-stats.tsx
  apps/portal/src/features/wiki/components/wiki-site-stats.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

test: fix IRC implementation test mock for mediawiki keys
  apps/portal/tests/lib/integrations/irc/implementation.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(changelog): add core types, parser, service, and config
  apps/portal/src/features/changelog/lib/parser.ts
  apps/portal/src/features/changelog/lib/service.ts
  apps/portal/src/features/changelog/lib/types.ts
  apps/portal/src/shared/config/changelog.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(changelog): add timeline UI components
  apps/portal/src/features/changelog/components/commit-row.tsx
  apps/portal/src/features/changelog/components/commit-type-badge.tsx
  apps/portal/src/features/changelog/components/release-card.tsx
  apps/portal/src/features/changelog/components/repo-icon.tsx
  apps/portal/src/features/changelog/components/timeline-view.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(changelog): add filter components
  apps/portal/src/features/changelog/components/changelog-filters.tsx
  apps/portal/src/features/changelog/components/commit-type-filter.tsx
  apps/portal/src/features/changelog/components/entry-type-filter.tsx
  apps/portal/src/features/changelog/components/repository-filter.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(changelog): add page, route config, and i18n
  apps/portal/locale/en/routes.json
  apps/portal/src/app/(dashboard)/app/changelog/changelog-content.tsx
  apps/portal/src/app/(dashboard)/app/changelog/page.tsx
  apps/portal/src/env.ts
  apps/portal/src/features/routing/lib/config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

perf(auth): use TanStack Query-backed useSession to prevent redundant fetches
  apps/portal/src/features/auth/lib/auth-hooks.ts
  apps/portal/src/features/auth/lib/session-context.tsx
  apps/portal/tests/hooks/use-permissions.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(mailcow): extract shared record validation to reduce complexity
  apps/portal/src/features/integrations/lib/mailcow/client.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(ui): resolve recharts type errors in chart component
  packages/ui/src/ui/chart.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched: (any of: *.{ts,tsx}) or (any of: *.{json,jsonc,md})
