Repository allthingslinux/portal: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched",
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.{json,jsonc,md}": ["biome format --write --no-errors-on-unmatched"]
}

docs(agents): update apps/portal/src/features/user/AGENTS.md
  apps/portal/src/features/user/AGENTS.md
Due: biome format --write --no-errors-on-unmatched

fix(api): update apps/portal/tests/app/api/bridge/identity/route.test.ts
  apps/portal/tests/app/api/bridge/identity/route.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: update packages/api/src/server-queries.ts
  packages/api/src/server-queries.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(db): update migration packages/db/drizzle/20260223001000_baseline/migration.sql
  packages/db/drizzle/20260223001000_baseline/migration.sql
Due: none

chore(db): update drizzle snapshot packages/db/drizzle/20260223001000_baseline/snapshot.json
  packages/db/drizzle/20260223001000_baseline/snapshot.json
Due: biome format --write --no-errors-on-unmatched

chore(db): remove packages/db/drizzle/20260223001000_baseline/migration.sql
  packages/db/drizzle/20260303194912_sparkling_meteorite/migration.sql
Due: none

feat(integrations): add apps/portal/src/features/integrations/lib/bridge/keys.ts
  apps/portal/src/features/integrations/lib/bridge/keys.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: add docs/BRIDGE_INTEGRATION.md
  docs/BRIDGE_INTEGRATION.md
Due: biome format --write --no-errors-on-unmatched

chore(db): remove packages/db/drizzle/20260307213143_redundant_rage/snapshot.json
  packages/db/drizzle/20260307213143_redundant_rage/snapshot.json
Due: biome format --write --no-errors-on-unmatched

chore(schemas): update packages/schemas/src/integrations/validation.ts
  packages/schemas/src/integrations/validation.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(schemas): update packages/schemas/src/user.ts
  packages/schemas/src/user.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs(agents): add apps/portal/tests/AGENTS.md
  apps/portal/tests/AGENTS.md
Due: biome format --write --no-errors-on-unmatched

chore(schemas): update packages/schemas/src/integrations/irc.ts
  packages/schemas/src/integrations/irc.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(db): remove packages/db/drizzle/20260303194912_sparkling_meteorite/snapshot.json
  packages/db/drizzle/20260303194912_sparkling_meteorite/snapshot.json
Due: biome format --write --no-errors-on-unmatched

chore(db): add packages/db/drizzle/20260314151330_nosy_victor_mancha/snapshot.json
  packages/db/drizzle/20260314151330_nosy_victor_mancha/snapshot.json
Due: biome format --write --no-errors-on-unmatched

chore(types): update packages/types/src/api.ts
  packages/types/src/api.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(db): update packages/db/src/schema/auth.ts
  packages/db/src/schema/auth.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(schemas): update packages/schemas/src/integrations/xmpp.ts
  packages/schemas/src/integrations/xmpp.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(db): add packages/db/drizzle/20260314151330_nosy_victor_mancha/migration.sql
  packages/db/drizzle/20260314151330_nosy_victor_mancha/migration.sql
Due: none

docs: add docs/ENV_VARS.md
  docs/ENV_VARS.md
Due: biome format --write --no-errors-on-unmatched

chore(db): remove packages/db/drizzle/20260307213143_redundant_rage/migration.sql
  packages/db/drizzle/20260307213143_redundant_rage/migration.sql
Due: none

docs: add .kiro/specs/env-standardization/design.md
  .kiro/specs/env-standardization/design.md
Due: biome format --write --no-errors-on-unmatched

chore: add .kiro/specs/env-standardization/.config.kiro
  .kiro/specs/env-standardization/.config.kiro
Due: none

chore: update Node.js version requirement to >= 20.19.0 and update biome schema version to 2.4.6
  .github/CONTRIBUTING.md
  .kiro/specs/turborepo-migration/design.md
  README.md
  biome.jsonc
  package.json
Due: biome format --write --no-errors-on-unmatched

refactor(tests): use username in mocks and adjust nickname validation
  apps/portal/tests/lib/integrations/irc/atheme-failure-rollback.test.ts
  apps/portal/tests/lib/integrations/irc/implementation.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: replace .commitlintrc.json with commitlint.config.cjs and update .dockerignore
  .commitlintrc.json
  .dockerignore
  .kiro/specs/turborepo-migration/design.md
  commitlint.config.cjs
Due: biome format --write --no-errors-on-unmatched

chore(release): 2.3.0 [skip ci]
  CHANGELOG.md
  apps/portal/package.json
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  32643abecd2842e9fc87b50c7c3864dbfd9f669c
Due: none
