Repository allthingslinux/portal: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "biome check --write --no-errors-on-unmatched",
    "biome format --write --no-errors-on-unmatched"
  ],
  "*.{json,jsonc,md}": ["biome format --write --no-errors-on-unmatched"]
}

feat(admin): enhance user management with URL state and filters
  src/app/(dashboard)/app/admin/page.tsx
  src/app/layout.tsx
  src/features/admin/components/user-management.tsx
  src/features/admin/hooks/use-users-list-search-params.ts
  src/features/admin/lib/search-params.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: add nuqs implementation guide for type-safe URL search params
  docs/NUQS.md
  docs/README.md
Due: biome format --write --no-errors-on-unmatched

docs: add comprehensive nuqs best practices guide for Next.js
  .cursor/skills/nuqs/AGENTS.md
  .cursor/skills/nuqs/SKILL.md
Due: biome format --write --no-errors-on-unmatched

docs(tanstack-table): add comprehensive documentation and templates for TanStack Table v8
  .cursor/skills/TanStack Table/.claude-plugin/plugin.json
  .cursor/skills/TanStack Table/SKILL.md
  .cursor/skills/TanStack Table/rules/tanstack-table.md
  .cursor/skills/TanStack Table/templates/basic-client-table.tsx
  .cursor/skills/TanStack Table/templates/column-configuration.tsx
  .cursor/skills/TanStack Table/templates/d1-database-example.tsx
  .cursor/skills/TanStack Table/templates/package.json
  .cursor/skills/TanStack Table/templates/server-paginated-table.tsx
  .cursor/skills/TanStack Table/templates/shadcn-styled-table.tsx
  .cursor/skills/TanStack Table/templates/virtualized-large-dataset.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs(NUQS): update URL throttling guidance and clarify debounce usage for client-side fetching
  docs/NUQS.md
Due: biome format --write --no-errors-on-unmatched

fix(next.config): disable CSS chunking as a workaround for Turbopack issue in development
  next.config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(hooks): add useDebouncedValue hook for improved input handling
  src/hooks/use-debounced-value.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(admin): enhance user management with improved filters and query options
  src/app/(dashboard)/app/admin/page.tsx
  src/features/admin/components/data-table.tsx
  src/features/admin/components/user-management.tsx
  src/features/admin/hooks/use-admin.ts
  src/features/admin/lib/search-params.ts
  src/features/admin/lib/users-query-options.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(admin): optimize component structure with memoization
  src/features/admin/components/data-table.tsx
  src/features/admin/components/session-management.tsx
  src/features/admin/components/user-management.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs(NUQS): expand account settings section with nuqs integration details
  docs/NUQS.md
Due: biome format --write --no-errors-on-unmatched

feat(settings): implement nuqs-based tab state management for settings page
  src/app/(dashboard)/app/settings/[segment]/page.tsx
  src/app/(dashboard)/app/settings/page.tsx
  src/app/(dashboard)/app/settings/settings-content.tsx
  src/app/(dashboard)/app/settings/settings-search-params.ts
  src/app/(dashboard)/app/settings/use-settings-search-params.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(settings): enhance account settings configuration with custom paths and layout options
  src/app/providers.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(renovate): clean up whitespace and add ignore paths for Renovate configuration
  .github/renovate.json5
Due: none

chore(ci): update placeholders in CI configuration for Next.js build
  .github/workflows/ci.yml
Due: none

chore(ci): enhance TODO to issue conversion workflow
  .github/workflows/maintenance.yml
Due: none

chore(ci): update PR title validation workflow
  .github/workflows/pr-title.yml
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
Due: biome format --write --no-errors-on-unmatched

Notes added by 'git notes add'
  95e1d919d37e8ea53cc94d6f757557cbf975770a
Due: none

test(irc): add unit tests for IRC nickname validation and password generation utilities
  tests/lib/integrations/irc/utils.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: add IRC integration details to INTEGRATIONS.md
  docs/INTEGRATIONS.md
Due: biome format --write --no-errors-on-unmatched

refactor(database): remove old integration_accounts migration and add new comprehensive migration
  drizzle/20260107000000_integration_accounts/migration.sql
  drizzle/20260130064615_complete_thaddeus_ross/migration.sql
  drizzle/20260130064615_complete_thaddeus_ross/snapshot.json
Due: biome format --write --no-errors-on-unmatched

feat(integrations): add IRC password dialog and enhance integration management
  src/app/(dashboard)/app/integrations/integrations-content.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(sidebar): adjust sidebar icon width and enhance layout responsiveness
  src/components/ui/sidebar.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(auth): add IRC scope support and claims retrieval
  src/features/auth/lib/config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(integrations): enhance integration management with required input and success callback
  src/features/integrations/components/integration-management.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): implement Atheme JSON-RPC client for IRC commands
  src/features/integrations/lib/irc/atheme/client.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): add IRC configuration and provisioning check
  src/features/integrations/lib/irc/config.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): implement IRC integration for account management
  src/features/integrations/lib/irc/implementation.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): create public API for IRC integration
  src/features/integrations/lib/irc/index.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): add environment variable configuration for IRC integration
  src/features/integrations/lib/irc/keys.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): define types for IRC account management and Atheme JSON-RPC
  src/features/integrations/lib/irc/types.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): add IRC utility functions for nickname validation and password generation
  src/features/integrations/lib/irc/utils.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): register IRC integration in the main integration module
  src/features/integrations/lib/index.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): include ircAccount in the main schema export
  src/shared/db/schema/index.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): add IRC account schema definition
  src/shared/db/schema/irc.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(env): include IRC keys in environment configuration
  src/env.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(.gitignore): add examples directory to ignore list
  .gitignore
Due: none

docs(integrations): update IRC integration documentation
  docs/INTEGRATIONS.md
Due: biome format --write --no-errors-on-unmatched

feat(irc): implement GET route for fetching IRC accounts
  src/app/api/admin/irc-accounts/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(api): enhance user GET route to include IRC and XMPP account details
  src/app/api/admin/users/[id]/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched
