Repository allthingslinux/portal: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(env): add Mailcow OAuth env keys
  src/env.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs: add MAILCOW.md and update INTEGRATIONS.md
  docs/INTEGRATIONS.md
  docs/MAILCOW.md
Due: biome format --write --no-errors-on-unmatched

docs(integrations): update AGENTS.md for Mailcow
  src/features/integrations/AGENTS.md
Due: biome format --write --no-errors-on-unmatched

chore: update .cursorignore
  .cursorignore
Due: none

fix(migrate): update config file path for database migrations
  .github/scripts/migrate.sh
Due: none

docs: update references from drizzle-zod to drizzle-orm/zod in ZOD.md
  docs/ZOD.md
Due: biome format --write --no-errors-on-unmatched

refactor(migrations): remove old mailcow_account migration and add baseline migration with comprehensive schema
  drizzle/20260222000000_mailcow_account/migration.sql
  drizzle/20260223001000_baseline/migration.sql
  drizzle/20260223001000_baseline/snapshot.json
Due: biome format --write --no-errors-on-unmatched

feat(db): add script to wipe the database by dropping and recreating the public schema
  scripts/wipe-db.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(mailcow): ensure submit label is correctly displayed in MailcowCreateForm
  src/app/(dashboard)/app/integrations/mailcow-create-form.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(auth): add endpoint to clear stale sessions and redirect to sign-in
  src/app/api/auth/clear-stale-session/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(auth): implement check for stale sessions and redirect to clear session endpoint
  src/features/auth/lib/dal.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(db): update import path for createInsertSchema and createSelectSchema from drizzle-zod to drizzle-orm/zod
  src/shared/db/schema/irc.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(db): correct import path for createInsertSchema and createSelectSchema in mailcow schema
  src/shared/db/schema/mailcow.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(db): update import path for createInsertSchema and createSelectSchema in xmpp schema
  src/shared/db/schema/xmpp.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

docs(db): add documentation for db:wipe command to drop public schema in development
  src/shared/db/AGENTS.md
Due: biome format --write --no-errors-on-unmatched

fix(user): update import path for createSelectSchema from drizzle-zod to drizzle-orm/zod
  src/shared/schemas/user.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore(deps): add db:wipe command to package.json and update drizzle-kit and drizzle-orm to beta.15
  package.json
  pnpm-lock.yaml
Due: biome format --write --no-errors-on-unmatched

docs: add Cursor Cloud specific instructions to AGENTS.md
  AGENTS.md
Due: biome format --write --no-errors-on-unmatched

perf: parallelize independent DB queries with Promise.all and use toSorted
  src/app/api/admin/irc-accounts/route.ts
  src/app/api/admin/mailcow-accounts/route.ts
  src/app/api/admin/stats/route.ts
  src/app/api/admin/users/route.ts
  src/app/api/admin/xmpp-accounts/route.ts
  src/features/routing/lib/permissions.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(xmpp): switch Prosody REST client from Basic to Bearer token auth
  src/features/integrations/lib/xmpp/client.ts
  src/features/integrations/lib/xmpp/config.ts
  src/features/integrations/lib/xmpp/keys.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

fix(irc): fix Atheme JSON-RPC id type and empty param handling
  src/features/integrations/lib/irc/atheme/client.ts
  tests/lib/integrations/irc/atheme/client.test.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

chore: add atl.chat patch for mod_http_oauth2
  patches/atl-chat-mod-http-oauth2.patch
Due: none

revert(patch): remove atl-chat-mod-http-oauth2.patch to rollback OAuth2 integration
  patches/atl-chat-mod-http-oauth2.patch
Due: none

feat(ui): add render and nativeButton props to Button component
  src/components/ui/button.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(integrations): add XMPP password dialog and enhance integration management
  src/app/(dashboard)/app/integrations/integrations-content.tsx
  src/app/(dashboard)/app/integrations/irc-account-details.tsx
  src/app/(dashboard)/app/integrations/mailcow-integration-card.tsx
  src/app/(dashboard)/app/integrations/xmpp-account-details.tsx
  src/app/(dashboard)/app/integrations/xmpp-password-dialog.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

refactor(page.tsx): remove unused StatCard component and unused imports feat(page.tsx): add IrcMemberStat and XmppMemberStat components to community stats
  src/app/(dashboard)/app/(overview)/page.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(schemas): make password optional for IRC and XMPP account creation
  src/shared/schemas/integrations/irc.ts
  src/shared/schemas/integrations/xmpp.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(route.ts): add support for service token authentication
  src/app/api/bridge/identity/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(reset-password): add IRC password reset support alongside XMPP
  src/app/api/integrations/[integration]/accounts/[id]/reset-password/route.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(irc): enhance password reset and error handling for Atheme integration
  src/features/integrations/lib/irc/atheme/client.ts
  src/features/integrations/lib/irc/implementation.ts
  src/features/integrations/lib/irc/types.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(xmpp): enhance error handling and add server stats retrieval
  src/features/integrations/lib/xmpp/client.ts
  src/features/integrations/lib/xmpp/config.ts
  src/features/integrations/lib/xmpp/implementation.ts
  src/features/integrations/lib/xmpp/keys.ts
  src/features/integrations/lib/xmpp/types.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(integrations): enhance integration management with dialogs and stats
  src/features/integrations/components/integration-management.tsx
  src/features/integrations/components/irc-member-stat.tsx
  src/features/integrations/components/reset-password-dialog.tsx
  src/features/integrations/components/xmpp-member-stat.tsx
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(integrations.ts): add resetIntegrationPassword function to reset passwords for integration accounts
  src/features/integrations/api/integrations.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

feat(use-integration.ts): add useResetIntegrationPassword hook
  src/features/integrations/hooks/use-integration.ts
Due: biome check --write --no-errors-on-unmatched, biome format --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx}
  biome format --write --no-errors-on-unmatched: (any of: *.{ts,tsx}) or (any of: *.{json,jsonc,md})
